<h1>My Favs</h1>

<ol>
<% @favs.each do |f| %>
  <% if f.user == current_user %>
    <li><%= link_to f.cocktail_bar.name, cocktail_bar_path(f.cocktail_bar) %> - <%= f.cocktail_bar.address %></li>
  <% end %>
<% end %>
</ol>
