<h1>My Reviews</h1>

<ol>
<% @reviews.each do |r| %>
  <% if r.user == current_user %>
    <li><%= r.cocktail_bar.name %> - <%= link_to r.title.capitalize, review_path(r) %></li>
  <% end %>
<% end %>
</ol>
